<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>500 Error</title>
		<meta name="description" content="500 Error Page" />
		<meta name="author" content="Gautam Agrawal">
		<link rel="icon" type="image/x-icon" href="insyte/images/favicon.ico">
		<!--basic styles-->
		<link href="ace/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link href="ace/assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="ace/assets/css/font-awesome.min.css" />
		<!--[if IE 7]>
		  <link rel="stylesheet" href="ace/assets/css/font-awesome-ie7.min.css" />
		<![endif]-->
		<!--page specific plugin styles-->
		<!--fonts-->
		<link rel="stylesheet" href="ace/assets/css/ace-fonts.css" />
		<!--ace styles-->
		<link rel="stylesheet" href="ace/assets/css/uncompressed/ace.css" />
		<link rel="stylesheet" href="ace/assets/css/uncompressed/ace-responsive.css" />
		<link rel="stylesheet" href="ace/assets/css/uncompressed/ace-skins.css" />
		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="ace/assets/css/uncompressed/ace-ie.css" />
		<![endif]-->
		<!--inline styles related to this page-->
		<!--ace settings handler-->
		<script src="ace/assets/js/ace-extra.min.js"></script>
	</head>
	<body>
		<div class="page-content">
			<div class="row-fluid">
				<div class="span12">
					<div class="error-container">
						<h1 class="grey lighter smaller">
							<span class="bigger-125"><i class="icon-warning-sign"></i></span>&nbsp; Internal Server Error Detected
						</h1>
						<hr />
						<h3 class="lighter smaller">
							We are working &nbsp; <i class="icon-wrench icon-animated-wrench bigger-125"></i> &nbsp; on it! Meanwhile, please try one of the following:
						</h3>
						<div class="space"></div>
						<div class="space"></div>

						<div class="space"></div>
						<hr />
						<div class="row-fluid">
							<a href="#" class="btn btn-primary btn-danger">
								<i class="icon-home"></i>Home
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--basic scripts-->
		<!--[if !IE]>-->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='ace/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>
		<!--<![endif]-->
		<!--[if IE]>
		<script type="text/javascript">
			window.jQuery || document.write("<script src='ace/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
		</script>
		<![endif]-->
		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='ace/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="ace/assets/js/bootstrap.min.js"></script>
		<!--ace scripts-->
		<script src="ace/assets/js/ace.min.js"></script>
	</body>
</html>
