<!DOCTYPE html>
<html lang="en">


	<body>
		<div class="page-content">
			<div class="row-fluid">
				<div class="span12">
					<div class="error-container">
						<h1 class="grey lighter smaller">
							<span class="bigger-125"><i class="icon-file-text"></i></span>&nbsp; Page Not Found
						</h1>
						<hr />
						<h3 class="lighter smaller">The page you requested was not found on this server. Please try one of the following:</h3>
						<div class="space"></div>
						<div class="space"></div>
						<div>
							<ul class="unstyled spaced bigger-110">
								<li>
									<i class="icon-hand-right"></i>Read the <a href="faq.html" target="_blank">FAQs</a>
								</li>
								<li>
									<i class="icon-hand-right"></i><a href="feedback.html" target="_blank">Tell us</a> about it
								</li>
							</ul>
						</div>
						<div class="space"></div>
						<hr />
						<div class="row-fluid">
							<a href="index.html" class="btn btn-primary btn-danger">
								<i class="icon-home"></i>Home
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--basic scripts-->
		<!--[if !IE]>-->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='ace/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>
		<!--<![endif]-->
		<!--[if IE]>
		<script type="text/javascript">
			window.jQuery || document.write("<script src='ace/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
		</script>
		<![endif]-->
		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='ace/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="ace/assets/js/bootstrap.min.js"></script>
		<!--ace scripts-->
		<script src="ace/assets/js/ace.min.js"></script>
	</body>
</html>