<!DOCTYPE html>
<html lang="en">
<body>
<div class="page-content grey">
    <div class="row-fluid">
        <div class="span12">
            <div class="space"></div>
                <div id="navbar" class="navbar">
                <div class="navbar-inner">
                    <div class="">
                        <a  href="#">
                            <small><img src="assets/images/omniscient-logo.png" /></small>
                        </a>

                    </div>
                </div>
            </div>
            <hr />
            <div class="row-fluid">
                <div class="span1"></div>
                <div class="span10">
                    <h1 class="grey lighter smaller"><span class="bigger-125">Session Expired!</h1>
                    <h3 class="lighter smaller">Your session has expired.</h3>
                    <div class="space"></div>

                    <div class="space"></div>
                    <div class="space"></div>
                    <h4 class="lighter smaller">Please Sign In again. </h4>
                    <div class="space"></div>
                    <div class="space"></div>
                    <div class="row-fluid">
                        <a href="/" class="btn btn-primary btn-danger"><i class="icon-key"></i>Sign In</a>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>
</body>
</html>