<!DOCTYPE html>
<html lang="en">


    <body>
        <div class="page-content">
            <div class="row-fluid">
                <div class="span12">
                    <div class="error-container">
                        <h1 class="grey lighter smaller">
                            <span class="bigger-125"><i class="icon-file-text"></i></span>&nbsp; Page Not Found
                        </h1>
                        <hr />
                        <h3 class="lighter smaller">The page you requested was not found on this server. Please try one of the following:</h3>
                        <div class="space"></div>
                        <div class="space"></div>
                        <div>
                            <ul class="unstyled spaced bigger-110">
                                <li>
                                    <i class="icon-hand-right"></i>Read the <a href="faq.html" target="_blank">FAQs</a>
                                </li>
                                <li>
                                    <i class="icon-hand-right"></i><a href="feedback.html" target="_blank">Tell us</a> about it
                                </li>
                            </ul>
                        </div>
                        <div class="space"></div>
                        <hr />
                        <div class="row-fluid">
                            <a href="/" class="btn btn-primary btn-danger">
                                <i class="icon-home"></i>Login
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>